/* Variables */

$brand-black: #000;
$brand-white: rgb(218, 218, 218);
$brand-black-transparent: rgba(0,0,0,0.6);
$medium-purple:#6F5AFB;;
$biloba-flower:#f184cd;
$web-orange:#FFA502;
$persimmon:#FF6348;
$cod-gray:#0B0B0B;


