/* == Forms == */

form {
    margin: 2rem;
    width: 100%;
}

main form {
    text-align: center;
}

input{
    border-radius: 0.2rem;
    background-color: $medium-purple;
}

.searchform__input-container {
    width: 90%;
    position: relative;

    @media (min-width: 37.5em) {
        width: 75%;
    }

    @media (min-width: 75em) {
        width: 50%;
    }

    .searchform__input {
        width: 100%;
        height: 3.5rem;
        border: none;
        padding-left:1.5rem;
        font-size: 1.8rem;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        color: $cod-gray;
        font-weight: bold;
        &:hover,
        &:focus {
            border: none;
            outline: 0.5rem solid $brand-white; 
        }
    }
    .searchform__button {
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        top:0;
        right:0;
        display: flex;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        justify-content: center;
        align-items: center;
        border:none;
        background: $medium-purple;
        &:hover,
        &:focus {
            background-color: $web-orange;
            
        }
        .searchform__icon {
            padding: 0.2rem;
            width: 2.5rem;
            height: 2.5rem; 
        }
    }
}
