@use "../abstracts/variables";
@use "../abstracts/mixins";

.posts {
  @include mixins.mq(variables.$bp-mobile) {
    display: flex;
    flex-wrap: wrap;
  }
}

.posts__no-content {
  font-size: 2.1rem;
  padding: 2.2rem;
}