/* Variables */

$brand-black: #000;
$brand-white: #fff;
$brand-black-transparent: rgba(0,0,0,0.6);
$medium-purple:#c73496;
$biloba-flower:#f184cd;
$web-orange:#FFA502;
$persimmon:#FF6348;
$medium-purple:#8C73FF;
$cod-gray:#0B0B0B;


