@use "../abstracts/variables";
@use "../abstracts/mixins";

.right-title {
  padding: 0 2rem;
  background-color: var(--brand-alabaster);
  margin: 0;
  border-bottom: 0.1rem solid var(--brand-gallery);

  @include mixins.mq(variables.$bp-desktop) {
    padding: 1.6rem 3.8rem;
  }
}
