.post--single,
.text-pages,
.post,
.content{
    text-align: left;
}

.content li{
    color: $brand-white;
}

.legal ul{
    list-style: circle;
}
.legal{
    text-align: left;
}

.legal h1,
.legal h2,
.legal h3,
.legal h4 {
    font-family: 'Baloo Bhaina 2', sans-serif;
    
}

.store,
.fanclub{
    text-align: center;
}