.music-player__wrapper{
    display: flex;
    justify-content: center;
    margin: 4rem auto;
  }
  
  .music-player__audio{
    display: block;
    margin: 0 auto;
  }

  .music-player__wrapper{
  display: block;
  margin-left: auto;
  margin-right: auto
}