/* == Footer == */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background-color: $cod-gray;
  font-family: 'Baloo Bhaina 2';
}

.footer-menu li{
  font-family: 'Baloo Bhaina 2';}

.footer__logo{
  margin: 2rem auto 1rem auto;
  width: 15rem;
  display: block;

  @media (min-width: 37.5em) {
    width: 20rem;
  }
}

.footer-container {
  width: 90%;
  height: auto;
  margin: 2rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  .footer-menu,
  .follow-us__list,
  .footer-searchform {
    margin-bottom: 3rem;
  }
  @media (min-width: 37.5em) {
    .footer-menu {
      margin-bottom: 0;
    }
  }
  .menu-socials-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 37.5em) {
      flex-direction: row; 
      justify-content: space-between;
    }
  }

  @media (min-width: 37.5em) {
    width: 60%;
  }
  @media (min-width: 75em) {
    width: 40%;
  }
}

.follow-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.up-link {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 2rem;
  top: 2rem;
  height: auto;
  border-radius: 0.5rem;
  border: 0.2rem solid $web-orange;
  img {
    margin-bottom: 0;
    padding: 0.3rem;
  }
  &:hover,
  &:focus {
    border: 0.2rem solid $brand-white;
  }

  @media (min-width: 37.5em) {
    right: 21%;
  }
  
  @media (min-width: 75em) {
    right: 30%;
  }
}
  
.follow-us__list{
  display: flex;
}
   
.follow-us__icon{
  border-radius: 0;
}

.footer-searchform{
  margin: 1rem 0;
}
.footer-searchform__input-wrapper {
  display: grid;
  grid-template: 1fr / repeat(5, 1fr);
}
  
.footer__link{
  color: $brand-white;
}
  
.follow-us__icon{
  margin: 0 1.5rem 0 0;
}

